* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    color: #65FFDA;
    font-family: 'Roboto Mono', monospace;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

/****************
    LOADER
*****************/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0B1A30;
    z-index: 100;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.launch-button {
    padding: 15px 30px;
    border: 2px solid #65FFDA;
    border-radius: 4px;
    font-weight: bold;
    cursor: progress;
    transition: all 0.2s ease-in-out;
}

.launch-button span {
    transition: all 0.5s ease-in-out;
}

.launch-button.ready {
    background: #65FFDA;
    color: #0B1A30;
}

.launch-button.ready:hover {
    margin-left: 20px;
}

.inactive {
    color: #0E2241;
}

.hidden {
    display: none;
}

.mobile-alert-content {
    margin: 26px;
}

/****************
    COCKPIT
*****************/
#cockpit {
    position: fixed;
    bottom: 20px;
    left: 40px;
    color: #65FFDA;
}

#speedometer {
    font-size: 10rem;
    font-weight: 700;
    /* Skew text */
    transform: skew(-25deg);
}

#turbo-container {
    display: flex;
    align-items: center;
}

#turbo-jauge {
    height: 15px;
    margin-left: 10px;
}

.turbo-jauge-unit {
    width: 5px;
    height: 100%;
    background-color: #0E2241;
    display: inline-block;
    margin: 0 2px;
}

/****************
    WARNING
*****************/

#warning-container {
    position: fixed;
    top: 20px;
    color: #65FFDA;
    width: 100%;
    display: none;
    justify-content: center;
    font-size: xx-large;
    /* Animate by pulsing opacity */
    animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/****************
    COPTYRIGHT
*****************/

.copyright {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 200;
}

.copyright a {
    color: #65FFDA;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.copyright a:hover {
    background-color: #65FFDA;
    color: #0B1A30;
    text-decoration: none;
}

/****************
    CONTROLS
*****************/

.controls {
    position: fixed;
    bottom: 80px;
    right: 20px;
    color: rgb(89, 91, 98);
}

.control-group {
    display: flex;
    justify-content: center;
}

.control {
    border: solid 1px rgb(89, 91, 98);
    height: 40px;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
}

.control-small {
    width: 40px;
}

.controls .active {
    background-color: #65FFDA;
    color: #0B1A30;
}